version: "3.12"

services:
  mongodb:
    image: mongo:7
    container_name: geodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: geoservice
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017

volumes:
  mongo_data:
